/***************************************************************************GENERAL SECTION**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
    list-style-type: none;
    padding: 1rem; 
 }
p{
    margin: 0.75rem 0;
}
textarea{
    resize: none;
}
body{
    overflow-x: hidden;
}
/**************************************************************************NAVBAR SECTION****************************/
.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}
.navbar{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
}
.list{
    color: #000;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 0 15px 0; 

}
.menu{
    padding-left: 1rem;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
.list li a{
    color: #000;
    height: 40px;
}
.list li:hover{
    cursor: pointer;
    background-color: #ccc;
    display: inline-block;
    height: 30px;
   padding-bottom: 10px; 
}
.header-menu-item:hover{
    background-color: #ccc;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-bottom: 10px;
}
/******************************************************************************SHOWCASE******************************/
.showcase-h{
    font-weight: 100;
    font-size: 30px;
    font-family: "playfair display";
    letter-spacing: 5px;
    position: absolute;
    top: 750px;
    left: 50px;
}

/*===========================================================================================================catering-section===============================*/
.middle-section{
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.section-hamburg{
    padding: 70px 0 90px 200px;
}
.r-section{
    display: inline-block;
    width: 550px;
    padding: 90px 50px;
    text-align: justify;
}
.about-section{
    padding-bottom: 50px;
    text-align: center;
}
.tradition-section{
    padding-bottom: 20px;
}
.para-2{
    padding-top: 20px;
    color: #aeaeae;
}
.hr-section{
    height: 0;
    border: thin 1px #eee;
    color: #eee;
    margin:0 200px 0 200px;
}

/***********************************************************food description section***************/
.container{
    display: flex;
    grid-template-columns: 6fr 6fr;
}
.food-description-section{
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 120px;
}
.menu-section{
    padding-bottom: 60px;
    text-align: center;
}
.food-description{
    padding-bottom: 30px;
}
.menu-img{
    padding-top: 50px;
    padding-bottom: 100px;
}
.hr-sec{
    height: 0;
    border: thin 1px #ccc;
    color: #ccc;
    margin:0 200px 0 200px;    
}

/*****************************************************************CONTACT_US SECTION***************/
.contact-us{
    padding-left: 230px;
}
.contact-section{
    padding-bottom: 30px;
}
.contact-information{
    padding-bottom: 10px;
    padding-right: 230px;
}
.address-section{
    padding-bottom: 10px;
    color: #607d8b
}
.form-group{
    padding-right: 230px;
    background-color: #fff;
    color: #a6a6a6;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.my-input{
    padding: 20px;
    border: none;
    border-bottom: solid 1px #ccc;
    width: 100%;
}
.btn-send{
    display: inline-block;
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.btn-send:hover{
    background-color: #ccc;
    cursor: pointer;
}

/*FOOTER SECTION*/
.footer-section{
    display: inline-block;
    height: 120px;
    width: 100%;
    background-color: #f1f1f1;
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
}
a{
    color: #000;
}